CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
CMakePresets.json
*.qcow2
*.vhd

.vs
.vscode

**/CMakeFiles/
**/CMakeScripts/
**/Testing/
**/_deps/
**/emsdk/
emsdk
**/node_modules/
node_modules
*.o
**/initramfs.efi
**/BOOTX64.EFI
*.elf