CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
CMakePresets.json

**/CMakeFiles/
**/CMakeScripts/
**/Testing/
**/_deps/
