CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
CMakePresets.json
*.qcow2

.vs
.vscode

**/CMakeFiles/
**/CMakeScripts/
**/Testing/
**/_deps/
